@import "_variable";

.completeCourse {
  background: url(../photos/backgrounddigital.jpeg);
  padding: 2rem 0;

  .bigCourse {
    width: 90%;
    margin: auto;
    padding: 3rem 0;

    .textBox {
      width: 70%;

      .icons {
        i {
          color: $yellow;
          font-size: 17px;
        }

        span {
          font-size: 13px;
          font-weight: bold;
          color: $darkblue;
        }
      }

      h2 {
        color: $darkblue;
        padding: 20px 0;
        font-weight: 600;
      }

      span {
        color: $textcolor;
        font-size: 18px;
      }

      .person {
        width: 80%;
        margin-top: 20px;
        border-right: 1px solid rgba(144, 142, 142, 0.184);

        img {
          border-radius: 25px;
          width: 40px;
        }

        p {
          display: inline;
          margin-left: 8px;
          font-size: 13px;
          color: $darkblue;
          font-weight: bold;
        }
      }

      .update {
        margin-top: 20px;
        padding-top: 8px;

        h6 {
          display: inline;
          color: $darkblue;
        }

        span {
          font-size: 13px;
          color: $aqua;
          font-weight: 300;
        }
      }
    }
  }
}

//  section .completeCourse end
//  section .overview start

.overview {
  padding: 2rem 0;
  .videoPlay {
    position: fixed;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    &.activeVideoPlay {
      opacity: 1;
      visibility: visible;
    }
    iframe {
      position: fixed;
      top: 10%;
      left: 12%;
      width: 1200px;
      height: 650px;
    }
    i {
      position: absolute;
      font-size: 30px;
      top: 1%;
      right: 1%;
      color: $white;
    }
  }

  .allView {
    width: 90%;
    margin: auto;

    .leftView {
      .tabCont {
        margin-bottom: 2rem;

        ul {
          flex-wrap: wrap;
          li {
            cursor: pointer;
            h5 {
              padding: 0 35px 8px 15px;
              border-bottom: 3px solid #ababab;
              color: #ababab;
              position: relative;
            }
            &.actiVeLi {
              h5 {
                color: $darkblue;
                &::before {
                  position: absolute;
                  content: "";
                  width: 100%;
                  height: 2px;
                  bottom: -2px;
                  left: 0;
                  background-color: $aqua;
                }
              }
            }
          }
        }
      }
      .tabBottom {
        .tabBox {
          display: none;
          &.active {
            display: block;
          }
          .midTop {
            p {
              font-size: 17px;
              line-height: 28px;
              color: $textcolor;
              margin-bottom: 30px;
              font-weight: 300;
            }
          }

          .botTop {
            margin-top: 2rem;
            padding: 3rem;
            background-color: $lightgray;

            h3 {
              color: $darkblue;
            }

            .boxLeft {
              margin-top: 2rem;

              ul {
                li {
                  .text {
                    color: $textcolor;
                    font-weight: 300;
                    line-height: 35px;
                  }

                  .icon {
                    display: inline-block;
                    color: $darkblue;
                    font-size: 20px;
                    font-weight: 700;
                  }
                }
              }
            }

            .boxRight {
              margin-top: 2rem;

              ul {
                li {
                  .text {
                    color: $textcolor;
                    font-weight: 300;
                    line-height: 35px;
                  }

                  .icon {
                    color: $darkblue;
                    font-size: 20px;
                    font-weight: 700;
                  }
                }
              }
            }
          }
          &.curriculum {
            .accordion {
              margin: 40px 0;
              border: 1px solid rgba(144, 142, 142, 0.184);
              h5 {
                padding: 20px;
                font-size: 17px;
                color: $darkblue;
                font-weight: bold;
                position: relative;
                &::after {
                  position: absolute;
                  content: "\02795";
                  right: 4%;
                  font-size: 13px;
                }
                &.active {
                  &::after {
                    content: "\2796";
                  }
                }
              }

              .panel {
                width: 100%;
                display: none;
                overflow: hidden;
                transition: 0.2s ease-out;
                ul {
                  margin: 0%;
                  padding: 0;
                  align-items: center;
                  li {
                    position: relative;
                    padding: 20px;
                    font-weight: 200;
                    &.bagc {
                      background-color: #f8f8f8;
                    }
                    a {
                      text-decoration: none;

                      span {
                        text-decoration: none;
                        text-align: right;
                        font-family: heebo;
                        color: $textcolor;
                        transition: 0.2s ease;
                        font-size: 15px;

                        &:hover {
                          color: $aqua;
                        }
                        i {
                          margin-right: 5px;
                        }
                      }
                      .prev {
                        position: absolute;
                        font-size: 14px;
                        width: 10%;
                        padding: 5px;
                        border-radius: 3px;
                        text-align: center;
                        background-color: $aqua;
                        color: white;
                        display: inline;
                        font-weight: 200;
                        right: 5%;
                      }
                    }
                  }
                }
              }
            }
          }
          &.instructor {
            .instBox {
              .leftInst {
                img {
                  border-radius: 50px;
                  width: 100px;
                }
                .iconBox {
                  margin-top: 30px;
                  i {
                    padding: 8px;
                    color: $textcolor;
                    border-radius: 20px;
                    border: 1px solid $textcolor;
                    margin-right: 5px;
                    transition: 0.5s ease;
                    cursor: pointer;
                    &:hover {
                      background-color: $aqua;
                      color: $white;
                      border: 1px solid $aqua;
                    }
                  }
                }
              }
              .rightInst {
                margin-left: -2rem;
                h4 {
                  color: $darkblue;
                  margin-bottom: 30px;
                }
                span {
                  font-size: 14px;
                  color: $textcolor;
                  line-height: 30px;
                }
              }
            }
          }
          &.reviews {
            .leftReview {
              padding: 30px 0;
              text-align: center;
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              h1 {
                font-size: 4rem;
                color: $darkblue;
              }
              i {
                color: $yellow;
              }
              margin-top: 20px;
              p {
                color: $textcolor;
              }
            }
            .rightReview {
              margin: 30px;
              .rates {
                .rateBox .left {
                  i {
                    color: $yellow;
                    font-size: 18px;
                    margin-left: 7px;
                  }
                }
                .mid {
                  margin-top: 8px;
                  height: 8px;
                  background-color: rgba(144, 142, 142, 0.184);
                  .yellow {
                    width: 50%;
                    height: 100%;
                    background-color: $yellow;
                  }
                }
              }
            }
            .botRev {
              padding: 20px 0;
              button {
                padding: 10px 20px;
                background-color: $aqua;
                color: $white;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                margin-top: 20px;
                position: relative;
                &:hover {
                  &::before {
                    opacity: 0;
                    visibility: hidden;
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 0%;
                  left: 0%;
                  width: 100%;
                  height: 100%;
                  background-color: $aqua;
                  border-radius: 5px;
                  overflow: hidden;
                  transition: 0.7s;
                }
              }
              h2 {
                color: $darkblue;
                font-weight: 600;
              }
              .comment {
                &.fred {
                  border: none;
                }

                padding: 30px 0;
                border-bottom: 1px solid rgba(100, 100, 111, 0.2);
                .imgBox {
                  img {
                    width: 100px;
                    border-radius: 50px;
                  }
                }
                .textBox {
                  position: relative;
                  h4 {
                    color: $darkblue;
                  }
                  h6 {
                    margin-top: 20px;
                    color: $darkblue;
                    font-weight: 600;
                    font-size: 13px;
                  }
                  span {
                    line-height: 30px;
                    color: $textcolor;
                    font-size: 16px;
                    font-weight: 200;
                  }
                  .iconBox {
                    position: absolute;
                    top: 0;
                    right: 3%;
                    i {
                      color: $yellow;
                      margin-right: 2px;
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // rightview start
    .rightView {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 0 0 10px 10px;
      margin-top: -200px;
      position: sticky;
      top: -100px;
      padding-bottom: 25px;

      .videoBox {
        width: 100%;
        position: relative;
        .videoImg {
          width: 100%;
          img {
            width: 100%;
            overflow: hidden;
          }
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 18px;
            background-color: $white;
            border-radius: 25px;
          }
        }
      }

      .midBox {
        margin: 20px 40px;
        border-bottom: 1px solid rgba(144, 142, 142, 0.184);
        padding-bottom: 20px;
        ul {
          li {
            position: relative;
            padding-bottom: 10px;
            a {
              color: $textcolor;
              font-size: 15px;
              span {
                font-weight: 500;
              }
              .date {
                position: absolute;
                right: 5%;
                display: inline;
                font-size: 14px;
              }
            }
          }
        }
      }

      .botBox {
        padding: 0 2rem;
        ul {
          li {
            position: relative;
            padding: 10px 0;
            border-bottom: 1px solid rgba(144, 142, 142, 0.184);
            &:last-child {
              border: none;
            }
            a {
              text-decoration: none;
              color: $textcolor;
              span {
                font-size: 14px;
                color: $darkblue;
                font-weight: 600;
                i {
                  margin-right: 10px;
                  color: $textcolor;
                }
              }
              .info {
                display: inline;
                position: absolute;
                right: 15px;
                font-size: 13px;
              }
            }
          }
        }

        .source {
          width: 75%;
          margin: 10px auto;
          border: 2px solid $aqua;
          text-align: center;
          border-radius: 5px;
          position: relative;
          &:hover {
            .tool {
              visibility: visible;
            }
          }

          a {
            display: block;
            padding: 7px 0;
            color: $aqua;
            font-weight: 100;
            text-decoration: none;

            i {
              margin-right: 5px;
            }
          }
          .tool {
            position: absolute;
            top: -75%;
            visibility: hidden;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            z-index: 1;
            i {
              margin: 0;
              padding: 0;
              color: $white;
              padding: 5px;
              margin-left: -5px;
              vertical-align: middle;

              background-color: $darkblue;
              &:hover {
                background-color: rgba(12, 12, 145, 0.768);
              }
            }
          }
        }
      }
    }
  }
}

// responsive start
@media (max-width: 768px) {
  // completeCourse start

  .completeCourse {
    .bigCourse {
      .textBox {
        width: 90%;

        h2 {
          font-size: 35px;
        }

        span {
          font-size: 18px;
          line-height: 28px;
        }

        .person {
          margin-top: 2rem;
        }

        .update {
          padding: 0;
          margin: -15px 0 0 3.3rem;

          h6 {
            font-size: 12px;
          }
        }
      }
    }
  }

  // completeCourse end
  .allView {
    .leftView {
      overflow: hidden;
      .tabCont {
        margin: 0 !important;
        ul {
          li {
            text-align: center;
            width: 100%;
            h5 {
              padding: 10px !important;
              font-size: 16px !important;
            }
          }
        }
      }
      .tabBottom {
        .tabBox {
          &.instructor {
            .instBox {
              .leftInst {
                text-align: center;
              }
              .rightInst {
                margin: 0;
                padding: 20px 0;
              }
            }
          }
          &.reviews {
            .botRev {
              margin-bottom: 2rem;
              .comment {
                .textBox {
                  span {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .rightView {
      margin: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .completeCourse {
    .bigCourse {
      .textBox {
        width: 90%;

        h2 {
          font-size: 35px;
        }

        span {
          font-size: 18px;
          line-height: 28px;
        }

        .person {
          margin-top: 2rem;
        }

        .update {
          padding: 0;
          margin: -15px 0 0 3.3rem;

          h6 {
            font-size: 12px;
          }
        }
      }
    }
  }
  .overview {
    .allView {
      .rightView {
        margin-top: 2rem;
      }
    }
  }
}
